$f: flex;
$column: column;
$center: center;
$danger: red;
$warning: rgb(251, 255, 0);
$primery: rgb(0, 89, 255);
$m1: 1rem;
$m10: 10rem;
$p1: 1rem 5rem;
$p10: 10rem;
$btn-border: 1px solid black;
$btn-radios: 1rem;
$pointer: pointer;
$delay: all 0.5s ease;
