* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 130px;
  cursor: pointer;
}
.nav-links li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    background: #ff5361;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
.register-btn {
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
}
nav .fa-bars{
    color: #000;
    display: none;
}

.container {
  padding: 0 7%;
}


/* -list-contaner-- */
.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    color: #555;
}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}


.sidebar{
     border: 1px solid #999;
     padding: 20px 30px;
     margin-top: 10px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    cursor: pointer;
    margin-right: 15px;
}

.sidebar-links{
    text-align: right;
    margin: 20px 0;
}
.sidebar-links a{
    text-decoration: none;
}


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background-color: #333;
    color: #fff;
}
















/* -------------footer-------- */
footer{
    text-align: center;
    margin: 80px 0;
}
footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
footer hr{
    background-color: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
footer p{
    padding-bottom: 15px;
}











/* -----------Small Screen----------- */
@media only screen and (max-width:700px){
    .logo{
        position: fixed;
        top:4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        text-align: right;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: inline-block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #000;
        font-size: 28px;
    }
    .active::after{
    left: -40px;
    transform: translate(0,-50%);
    bottom: 50%;
    background-color: #ff5361;
    }
    .hidemenue{
        max-height: 300px;
    }
    header .container h1{
      padding-top: 200px;
      font-size: 7vw;
    }
    .search-box{
      width: 90%;
      margin: 30px auto;
      padding: 20px 10px 30px;
      border-radius: 5px;
    }
    .search-box form{
      display: block;
    }
    .search-box form input{
      border-bottom: 1px solid #ddd;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
    }
    .search-box form button{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,50%);
    }
    .sub-title{
      font-size: 6vw;
    }
    .cta{
      padding: 15% 5%;
    }
    .cta h3{
      font-size: 7vw;
      line-height: 8vw;
    }
    .cta p{
      font-size: 14px;
    }
    .cta-btn{
      padding: 6px 15px;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 14px;
    }
    .stories div p{
      font-size: 15px;
    }
    .about-msg{
      font-size: 15px;
    }
    .list-container{
        margin-top: 150px;
    }
    .left-col,.right-col,.house-img,.house-info{
        flex-basis: 100%;
    }
    .left-col h1{
        font-size: 22px;
    }
    .house-info h3{
        font-size: 18px;
    }
    .house-info i{
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
