body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #777;
    margin: 0 20px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
ul li:hover{
    background-color: #86ff3b;
    box-shadow: 0 0 0 4px #333,0 0 0 6px #86ff3b;
}
ul li .content::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    bottom: -10px;
    left: 49%;
    transform: rotate(45deg);
}
ul li .content{
    position: absolute;
    bottom: 50px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition:0.5s ;
    transform: translateX(-50%) translateY(-50px);
}
ul li .content h2{
    padding: 0;
    margin: 0;
}
ul li:hover .content{
    visibility: visible;
    opacity: 1;
     transform: translate(-50%,0px);
}